<% provide(:title, "Dima") %>
<h1>Dima</h1>
<p>
Дима - это мальчик. Еще почти мальчик и уже почти нет. <p>
<p>
У него есть усы. Уже почти есть, но еще почти нет.
<p>
<p>
Он не дразнится. Он добрый. 
<p>
<p>
Будь как Дима.
<p>
<p><a href="http://localhost:3000">На Главную</a><p>
<p>
<a href="http://www.railstutorial.org/"><em>Ruby on Rails
Tutorial</em></a>
</p>
