<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | LoveJoyCookies</title>
</head>
<body>
<h1>Home</h1>
<p>
<p><a href="http://localhost:3000/my_family/dima/">Мальчик Дима</a><p>
<p><a href="http://localhost:3000/my_family/leva/">Мальчик Лева</a><p>
<p><p>
<p><p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
</body>
</html>