<% provide(:title, "Leva") %>
<h1>Leva</h1>
<p>
Лева - это мальчик. Еще совсем мальчик, но иногда кажется что нет. <p>
<p>
У него есть шило в попе. Почти всегда есть, но иногда почему-то вдруг нет.
<p>
<p>
Он не ноет и не вредничает. Он послушный.
<p>
<p>
Будь как Лева.
<p>
<p><a href="http://localhost:3000">На Главную</a><p>
<p>
<p><a href="http://www.railstutorial.org/"><em>Ruby on Rails
Tutorial</em></a>
</p>